/*.img estilo logo*/
.img{width: 220px;height: 165px;}
/*Reutilizaveis*/
.cent{text-align:center;}
.i100{width: 100%;}
.pm0{padding: 0px;margin: 0px;}
/*NÃO REUTILIZAVEIS*/
.list-group-item.active{background-color:#9397ad;border-color:#9397ad;}
.list-group-item.active:hover{background-color:#625d63;border-color:#625d63;}
.cor{background-color: #e9e9e9;}
.busca{padding-top: 16px;}
.navi{background-color: #e1e1e1;}
/*rodape-rodape base*/
.rodapei img{width: 200px;height: 242px;}
.rodapei #php{width: 100%;height: 250px;}
.base{padding: 25px; font-size: 18px; background: #dbdbdb}
